<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
        <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
        <style>
            body {
            font-family: 'lato', sans-serif;
            }
            .container {
            max-width: 1050px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 10px;
            padding-right: 10px;
            }

            h2 {
            font-size: 26px;
            margin: 20px 0;
            text-align: center;
            }
        </style>
    </head>
    <body>
        <div>
            <h2 >Contact Information</h2>
            
            <tr>
            <div class="container" align = "center">
                <div class="panel-body" align = "center" >
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Contact ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Age</th>
                                <th>Salary</th>
                                <th>Address</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="Contact : ${listcontact }">
                                <td th:text="${Contact.contactId}">Student ID</td>
                                <td th:text="${Contact.firstName}">First Name</td>
                                <td th:text="${Contact.lastName}">Last Name</td>
                                <td th:text="${Contact.email}">Email</td>
                                <td th:text="${Contact.age}">Age</td>
                                <td th:text="${Contact.salary}">Salary</td>
                                <td th:text="${Contact.address}">Address</td>
                                <td><a th:href="@{'/edit/' + ${Contact.contactId}}">Edit</a></td>     
                                <td><a th:href="@{'/delete/' + ${Contact.contactId}}">Delete</a></td>     
                            </tr>
                        </tbody>
                    </table> 
                </div>
                <h3><a  th:href="@{'/new'}">Add new</a></h3>
            </div>
        <div>
    </body>
</html>

