<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>Create New Contact</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
        <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
        <style>
            body {
            font-family: 'lato', sans-serif;
            }
            .container {
            max-width: 550px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 10px;
            padding-right: 10px;
            }

            h2 {
            font-size: 26px;
            margin: 20px 0;
            text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h2>Create New Contact</h2>
            <br />
            <div class="container">
                <form action="#" th:action="@{/save}" th:object="${Contact}" method="post">
                    <table>
                        <div alight="left">
                            <tr>
                                <label class="form-label" >First Name</label>
                                    <input type="hidden" th:field="*{contactId}" />
                                    <input type="text" th:field="*{firstName}" class="form-control" placeholder="First Name" />
                            </tr>
                        </div>  
                        
                        <div alight="left">
                            <tr>
                                <label class="form-label" >Last Name</label>
                                    <input type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name" />
                            </tr>
                        </div>
                        <div alight="left">
                            <tr>
                                <label class="form-label" >Email</label>
                                    <input type="text" th:field="*{email}" class="form-control" placeholder="Email" />
                            </tr>
                        </div>
                        <div alight="left">
                            <tr>
                                <label class="form-label" >Age</label>
                                    <input type="text" th:field="*{age}" class="form-control" placeholder="Age" />
                            </tr>
                        </div>
                        <div alight="left">
                            <tr>
                                <label class="form-label" >Salary</label>
                                    <input type="text" th:field="*{salary}" class="form-control" placeholder="Salary" />
                            </tr>
                        </div>
                        <div alight="left">
                            <tr>
                                <label class="form-label" >Address</label>
                                    <input type="text" th:field="*{address}" class="form-control" placeholder="Address" />
                            </tr>
                        </div>
                        <br>
                        <tr>
                            <td colspan="2"><button type="submit" class="btn btn-info">Save</button> </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>